* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  background: none;
}

.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

.logotipo {
  width: 20vw;
  margin-bottom: 1rem;
}

.logotipo-explorar {
  width: 20vw;
  margin-bottom: 1rem;
}

.logo-header {
  width: 2vw;
}

header img {
  margin: 0 2rem;
}

body {
  min-height: 100%;
  margin: 0;
}

.carousel-inner,
.carousel-item {
  height: 60vh;
}

.carousel-item img {
  height: 100%;
  object-fit: contain;
}

body .h1-index {
  text-align: center;
}

.imagen-presentacion {
  display: flex;
  margin: 0 auto;
  width: 60vw;
}

body #botones-registro {
  display: flex;
  justify-content: center;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.opciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 35vw;
  display: flex;
  justify-content: space-between;
}

.container2 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  border: none;
}

.btn-like {
  background-color: transparent;
  width: 10vw;
  height: auto;
}

.parrafos {
  padding: 0 10vw;
}

.card2 {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card2 img {
  width: 80%;
  height: auto;
}

.card2 h2 {
  text-align: center;
}

.card2 p {
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
}

.swal-gral {
  border-radius: 10%;
  border: 5px rgba(255, 0, 0, 0.347) solid;
}

.swal2-content {
  font-size: 12rem !important;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

p {
  font-size: 1.5em;
}

.cursi {
  text-align: center;
  font-style: italic;
}

.cursi2 {
  text-align: right;
  font-style: italic;
}

.parr {
  text-align: center;
  font-weight: bolder;
}


.importante {
  font-size: 35px;
  color: #333;
  border: 2px black solid;
  animation: parpadeo 1s ease-in-out infinite;
}

.importante2 {
  font-size: 20px;
  color: #333;
  border: 2px black solid;
  animation: parpadeo 1s ease-in-out infinite;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ------------------- MEDIA QUERYS -------------------*/
@media (max-width: 780px) {

  .container2 {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "card card"
      "btn1 btn2";
    gap: 10px;
    justify-items: center;
    align-items: center;
    min-width: 0;
  }

  .card2 {
    grid-area: card;
    width: 80%;
    margin-bottom: 0;
  }

  .btn1 {
    grid-area: btn1;
    width: 70%;
  }

  .btn2 {
    grid-area: btn2;
    width: 70%;
  }

  .imagen-presentacion {
    width: 80vw;
  }

  .logotipo {
    width: 50vw;
    margin-bottom: 1rem;
  }

  .logo-header {
    width: 3rem;

  }

  .carousel-inner,
  .carousel-item {
    height: 40vh;
  }
}

/* ------------------- FIN MEDIA QUERYS -------------------*/