* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  background: none;
}
.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

.logotipo{
  width: 30vw;
}
.logo-header{
  width: 3vw;
}
header {
  height: 6rem;
}

header img {
  margin: 0 2rem;
}

body {
  min-height: 100vh;
  /* Asegura que el fondo cubra toda la pantalla */
  margin: 0;
  /* background: #ffbcc5; */
}

body .h1-index {
  text-align: center;
}

.imagen-presentacion {
  display: flex;
  margin: 0 auto;
  width: 60vw;
}


body #botones-registro {
  display: flex;
  justify-content: center;
}

.sidebar {
  background: #ee7b7bc4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

header {
  background: rgba(238, 123, 123, 0.768627451);
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.contenido-principal {
  background: #ffbcc521;
  min-height: 100vh;
}

.opciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 35vw;
  display: flex;
  justify-content: space-between;
}

.container2 {
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-cards {
  width: 100%;
  display: flex;
}

button {
  border: none;
}

.btn-like {
  background-color: transparent;
  width: 13vw;
  height: auto;
}


.parrafos{
  padding:  0 10vw;
}

.card2 {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.card2 img {
  width: 85%;
  height: auto;
}

.card2 h2 {
  text-align: center;
}

.card2 p {
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
}

.swal-gral{
  border-radius: 10%;
  border: 5px rgba(255, 0, 0, 0.347) solid;
}
.swal2-content{
  font-size: 12rem !important;
}


ul {
  text-decoration: none;
  list-style-type: none;
}

p {
  font-size: 1.5em;
}

.cursi {
  padding-top: 1em;
  text-align: center;
  font-style: italic;
}

.cursi2 {
  text-align: right;
  font-style: italic;
}

.footer {
  background: #a3a3a3;
}



.importante {
  font-size: 35px;
  color: #333;
  border: 2px black solid;
  animation: parpadeo 1s ease-in-out infinite;
}
.importante2 {
  font-size: 25px;
  color: #333;
  border: 2px black solid;
  animation: parpadeo 1s ease-in-out infinite;
}

@keyframes parpadeo {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


@media (max-width: 780px) {

  .container2 {
      flex-direction: column;
  }

  /*El orden no esta funcionando*/
  .card2 {
      order: 1; 
      width: 90%; 
      margin-bottom: 20px; 
  }

  .btn1 {
      order: 2; 
  }
  .btn2 {
      order: 3;
  }
  .imagen-presentacion{
    width: 80vw;
  }
  .logotipo{
    width: 90vw;
   } 
  .logo-header{
    width: 8vw;
    margin: 1rem;
  }
}

